body    {
    background-color: black;
    text-align: center;
    color: white;
}

img {
    width: 100px;
}

.yuca1 {
    color: blue;
    text-decoration: line-through;
}

.arroz1 {
    color: orange;
    text-decoration: line-through;
}

.pan1 {
    color: yellow;
    text-decoration: line-through;
}

.queso1 {
    color: pink;
    text-decoration: line-through;
}

.name1 {
    color: violet;
    text-decoration: line-through;
}